{% extends 'base.html.twig' %}
{% block title %}Bienvenido a Geek
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/all_users.css') }}"/>
{% endblock %}
{% block body %}

    <div class="container productos">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Usuarios</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Roles</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_show_user', { 'id': user.id }) }}">{{ user.username }}</a>
                                    </td>
                                    <td>{{ user.password }}</td>
                                    <td>{{ user.roles | join(',')}}</td>
                                    <td>
                                        <ul style="display: flex;">
                                            <li>
                                                <a class="efecto" href="{{ path('admin_show_user', { 'id': user.id }) }}">
                                                    <i class="material-icons">zoom_in</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="efecto" href="{{ path('admin_edit_user', { 'id': user.id }) }}">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="efecto modal-trigger" href="#modalDelete{{user.id}}">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <div class="modal" id="modalDelete{{user.id}}">
                                    <div class="modal-content">
                                        <h4>Atención</h4>
                                        <p>Está seguro de eliminar el usuario {{user.username}} ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-close waves-effect waves-red btn-flat" href="#">Cancelar</a>
                                        <a class="modal-close waves-effect waves-green btn-flat" href="#" onclick="redirectUSer('{{user.id}}')">Aceptar</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/all_products.js') }}">{% endblock %}
