{% extends 'base.html.twig' %}
{% block title %}Bienvenido a Geek
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/all_users.css') }}"/>
{% endblock %}
{% block body %}

    <div class="container productos">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Usuarios</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Roles</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_show_user', { 'id': user.id }) }}">{{ user.username }}</a>
                                    </td>
                                    <td>{{ user.password }}</td>
                                    <td>{{ user.roles | join(',')}}</td>
                                    <td>
                                        <ul style="display: flex;">
                                            <li class="efecto">
                                                <a href="{{ path('admin_show_user', { 'id': user.id }) }}">
                                                    <i class="material-icons">zoom_in</i>
                                                </a>
                                            </li>
                                            <li class="efecto">
                                                <a href="{{ path('admin_edit_user', { 'id': user.id }) }}">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </li>
                                            <li class="efecto">
                                                <a href="{{ path('admin_delete_user', { 'id': user.id }) }}">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
