{% extends "base.html.twig" %}
{% block title %}Productos
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/all_products.css') }}"/>
{% endblock %}
{% block body %}

    <div class="container productos">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Productos</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>descripcion</th>
                                <th>Precio</th>
                                <th>Imagen</th>
                                <th>Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.price}}</td>
                                    <td>{{ product.img}}</td>
                                    <td>{{ product.category}}</td>
                                    <td>
                                        <ul style="display: flex;">
                                            <li>
                                                <a class="efecto" href="{{ path('admin_show_products', { 'id': product.id }) }}">
                                                    <i class="material-icons">zoom_in</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="efecto" href="{{ path('admin_edit_products', { 'id': product.id }) }}">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="efecto" href="{{ path('admin_delete_products', { 'id': product.id }) }}">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}
